
*.dll
*.pdb
*.CopyComplete
*.cache
API/StuffToDo.API/bin/*
API/StuffToDo.API/obj/*
API/StuffToDo.API.Lib/bin/*
API/StuffToDo.API.Lib/obj/*
API/StuffToDo.Tests/bin/*
API/StuffToDo.Tests/obj/*
Commons/Common.Resources/bin/*
Commons/Common.Resources/obj/*
Commons/Missions.Common.API/bin/*
Commons/Missions.Common.API/obj/*
Commons/Missions.Common.Lib/bin/*
Commons/Missions.Common.Lib/obj/*
Commons/Missions.Common.Tests/bin/*
Commons/Missions.Common.Tests/obj/*
Missions/Missions.API.Mock.Shared/bin/*
Missions/Missions.API.Mock.Shared/obj/*
Missions/Missions.API.Tests/bin/*
Missions/Missions.API.Testsobj/*
Users/Users.API.Mock.Shared/bin/*
Users/Users.API.Mock.Shared/obj/*
Users/Users.API.Tests/bin/*
Users/Users.API.Tests/obj/*
.vs/Missions.Backend/v16/.suo
API/StuffToDo.API.Lib/obj/project.assets.json
API/StuffToDo.API.Lib/obj/project.nuget.cache
API/StuffToDo.API.Lib/obj/StuffToDo.API.Lib.csproj.nuget.dgspec.json
API/StuffToDo.API.Lib/obj/StuffToDo.API.Lib.csproj.nuget.g.props
API/StuffToDo.API.Tests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
API/StuffToDo.API.Tests/obj/Debug/net5.0/StuffToDo.API.Tests.AssemblyInfo.cs
API/StuffToDo.API.Tests/obj/Debug/net5.0/StuffToDo.API.Tests.GeneratedMSBuildEditorConfig.editorconfig
API/StuffToDo.API.Tests/obj/project.assets.json
API/StuffToDo.API.Tests/obj/project.nuget.cache
API/StuffToDo.API.Tests/obj/StuffToDo.API.Tests.csproj.nuget.dgspec.json
API/StuffToDo.API.Tests/obj/StuffToDo.API.Tests.csproj.nuget.g.props
API/StuffToDo.API.Tests/obj/StuffToDo.API.Tests.csproj.nuget.g.targets
API/StuffToDo.API/obj/project.assets.json
API/StuffToDo.API/obj/project.nuget.cache
API/StuffToDo.API/obj/StuffToDo.API.csproj.nuget.dgspec.json
API/StuffToDo.API/obj/StuffToDo.API.csproj.nuget.g.props
API/StuffToDo.API/obj/StuffToDo.API.csproj.nuget.g.targets
Commons/Common.Resources/obj/Common.Resources.csproj.nuget.dgspec.json
Commons/Common.Resources/obj/Common.Resources.csproj.nuget.g.props
Commons/Common.Resources/obj/project.assets.json
Commons/Common.Resources/obj/project.nuget.cache
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.assets.cache
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.csproj.AssemblyReference.cache
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.csproj.CoreCompileInputs.cache
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.csproj.FileListAbsolute.txt
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.dll
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.GeneratedMSBuildEditorConfig.editorconfig
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.pdb
Commons/Missions.Common.Lib/obj/Missions.Common.Lib.csproj.nuget.dgspec.json
Commons/Missions.Common.Lib/obj/Missions.Common.Lib.csproj.nuget.g.props
Commons/Missions.Common.Lib/obj/project.assets.json
Commons/Missions.Common.Lib/obj/project.nuget.cache
Commons/Missions.Common.Tests/obj/Missions.Common.Tests.csproj.nuget.dgspec.json
Commons/Missions.Common.Tests/obj/Missions.Common.Tests.csproj.nuget.g.props
Commons/Missions.Common.Tests/obj/Missions.Common.Tests.csproj.nuget.g.targets
Commons/Missions.Common.Tests/obj/project.assets.json
Commons/Missions.Common.Tests/obj/project.nuget.cache
Missions/Missions.API.Mock.Shared/obj/Missions.API.Mock.Shared.csproj.nuget.dgspec.json
Missions/Missions.API.Mock.Shared/obj/Missions.API.Mock.Shared.csproj.nuget.g.props
Missions/Missions.API.Mock.Shared/obj/project.assets.json
Missions/Missions.API.Mock.Shared/obj/project.nuget.cache
Missions/Missions.API.Tests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Missions/Missions.API.Tests/obj/Debug/net5.0/Missions.API.Tests.AssemblyInfo.cs
Missions/Missions.API.Tests/obj/Debug/net5.0/Missions.API.Tests.GeneratedMSBuildEditorConfig.editorconfig
Missions/Missions.API.Tests/obj/Missions.API.Tests.csproj.nuget.dgspec.json
Missions/Missions.API.Tests/obj/Missions.API.Tests.csproj.nuget.g.props
Missions/Missions.API.Tests/obj/Missions.API.Tests.csproj.nuget.g.targets
Missions/Missions.API.Tests/obj/project.assets.json
Missions/Missions.API.Tests/obj/project.nuget.cache
Users/Users.API.Mock.Shared/obj/project.assets.json
Users/Users.API.Mock.Shared/obj/project.nuget.cache
Users/Users.API.Mock.Shared/obj/Users.API.Mock.Shared.csproj.nuget.dgspec.json
Users/Users.API.Mock.Shared/obj/Users.API.Mock.Shared.csproj.nuget.g.props
Users/Users.API.Tests/obj/project.assets.json
Users/Users.API.Tests/obj/project.nuget.cache
Users/Users.API.Tests/obj/Users.API.Tests.csproj.nuget.dgspec.json
Users/Users.API.Tests/obj/Users.API.Tests.csproj.nuget.g.props
Users/Users.API.Tests/obj/Users.API.Tests.csproj.nuget.g.targets
API/StuffToDo.API.Lib/obj/project.assets.json
API/StuffToDo.API.Lib/obj/project.nuget.cache
API/StuffToDo.API.Lib/obj/StuffToDo.API.Lib.csproj.nuget.dgspec.json
API/StuffToDo.API.Lib/obj/StuffToDo.API.Lib.csproj.nuget.g.props
API/StuffToDo.API.Tests/obj/project.assets.json
API/StuffToDo.API.Tests/obj/project.nuget.cache
API/StuffToDo.API.Tests/obj/StuffToDo.API.Tests.csproj.nuget.dgspec.json
API/StuffToDo.API.Tests/obj/StuffToDo.API.Tests.csproj.nuget.g.props
API/StuffToDo.API.Tests/obj/StuffToDo.API.Tests.csproj.nuget.g.targets
API/StuffToDo.API/obj/project.assets.json
API/StuffToDo.API/obj/project.nuget.cache
API/StuffToDo.API/obj/StuffToDo.API.csproj.nuget.dgspec.json
API/StuffToDo.API/obj/StuffToDo.API.csproj.nuget.g.props
API/StuffToDo.API/obj/StuffToDo.API.csproj.nuget.g.targets
Commons/Common.Resources/obj/Common.Resources.csproj.nuget.dgspec.json
Commons/Common.Resources/obj/Common.Resources.csproj.nuget.g.props
Commons/Common.Resources/obj/project.assets.json
Commons/Common.Resources/obj/project.nuget.cache
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.assets.cache
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.csproj.AssemblyReference.cache
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.csproj.CoreCompileInputs.cache
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.csproj.FileListAbsolute.txt
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.dll
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.GeneratedMSBuildEditorConfig.editorconfig
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.pdb
Commons/Missions.Common.Lib/obj/Missions.Common.Lib.csproj.nuget.dgspec.json
Commons/Missions.Common.Lib/obj/Missions.Common.Lib.csproj.nuget.g.props
Commons/Missions.Common.Lib/obj/project.assets.json
Commons/Missions.Common.Lib/obj/project.nuget.cache
Commons/Missions.Common.Tests/obj/Missions.Common.Tests.csproj.nuget.dgspec.json
Commons/Missions.Common.Tests/obj/Missions.Common.Tests.csproj.nuget.g.props
Commons/Missions.Common.Tests/obj/Missions.Common.Tests.csproj.nuget.g.targets
Commons/Missions.Common.Tests/obj/project.assets.json
Commons/Missions.Common.Tests/obj/project.nuget.cache
Missions/Missions.API.Mock.Shared/obj/Missions.API.Mock.Shared.csproj.nuget.dgspec.json
Missions/Missions.API.Mock.Shared/obj/Missions.API.Mock.Shared.csproj.nuget.g.props
Missions/Missions.API.Mock.Shared/obj/project.assets.json
Missions/Missions.API.Mock.Shared/obj/project.nuget.cache
Missions/Missions.API.Tests/obj/Missions.API.Tests.csproj.nuget.dgspec.json
Missions/Missions.API.Tests/obj/Missions.API.Tests.csproj.nuget.g.props
Missions/Missions.API.Tests/obj/Missions.API.Tests.csproj.nuget.g.targets
Missions/Missions.API.Tests/obj/project.assets.json
Missions/Missions.API.Tests/obj/project.nuget.cache
Users/Users.API.Mock.Shared/obj/project.assets.json
Users/Users.API.Mock.Shared/obj/project.nuget.cache
Users/Users.API.Mock.Shared/obj/Users.API.Mock.Shared.csproj.nuget.dgspec.json
Users/Users.API.Mock.Shared/obj/Users.API.Mock.Shared.csproj.nuget.g.props
Users/Users.API.Tests/obj/project.assets.json
Users/Users.API.Tests/obj/project.nuget.cache
Users/Users.API.Tests/obj/Users.API.Tests.csproj.nuget.dgspec.json
Users/Users.API.Tests/obj/Users.API.Tests.csproj.nuget.g.props
Users/Users.API.Tests/obj/Users.API.Tests.csproj.nuget.g.targets
*.dll
Commons/Missions.Common.API/obj/Debug/net5.0/Missions.Common.API.dll
*.json
